<p>
    Dominos available:
    <%= @game.dominos.map{ |d| "[#{d.value} | #{d.nb_worms}]" }.join(', ') %>
</p>

<h2 style="color: <%=@current_turn.player.color%>">Turn #<%= @current_turn.index %> (<%= @current_turn.player.name %>)</h2>

<%= show_picked_dice %>
<%= show_roll_outcome %>
<%= show_actions %>
