<p>
    Dominos available:
    <% @game.dominos.each do |d| %>
        <%= image_tag "domino#{d.value}" %>
    <% end %>
</p>

<h2 style="color: <%=@current_turn.player.color%>">Turn #<%= @current_turn.index %> (<%= @current_turn.player.name %>)</h2>

<%= render partial: 'error' %>

<%= show_picked_dice %>
<%= show_roll_outcome %>
<%= show_actions %>
