<h1>Game #<%= @game.id %></h1>

<p>
    Players in game:
    <% @game.players.each do |pl| %>
        <%= pl.name %>
    <% end %>
</p>

<p>
    Dominos available:
    <%= @game.in_game_dominos.map{ |d| d.value }.join(', ') %>
</p>

<h2>Turn #<%= @game.current_turn.index %></h2>

<p>Roll outcome: <%= @game.last_roll_outcome %>

<%= link_to 'Roll', game_roll_path(@game), method: :post %>

<%= link_to 'Quit', root_path %>
