<h1>Game #<%= @game.id %></h1>

<p>
    Players in game:
    <% @game.players.each do |pl| %>
        <%= pl.name %> (<%= pluralize(pl.worm_score, 'worm')%>)
    <% end %>
</p>

<p>
    Dominos available:
    <%= @game.dominos.map{ |d| "[#{d.value} | #{d.nb_worms}]" }.join(', ') %>
</p>

<h2>Turn #<%= @current_turn.index %></h2>

<%= show_picked_dice %>
<%= show_roll_outcome %>
<%= show_actions %>

<%= link_to 'Quit', root_path %>
