<h1>Game #<%= @game.id %></h1>

<p>
    Players in game:
    <table>
        <tr>
            <th>Name</th>
            <th>Nb worms</th>
            <th>Dominos</th>
        </tr>
        <% @game.players.each do |pl| %>
            <tr>
                <td><%= pl.name %></td>
                <td><%= pluralize(pl.worm_score, 'worm')%></td>
                <td><%= player_dominos(pl) %></td>
            </tr>
        <% end %>
    </table>
</p>

<%= show_game_state %>


<%= link_to 'Quit', root_path %>
