<h1>Game #<%= @game.id %></h1>

<p>
    Players in game:
    <table>
        <tr>
            <th>Name</th>
            <th>Nb worms</th>
            <th>Dominos</th>
        </tr>
        <% @game.players.each do |pl| %>
            <tr>
                <td><%= pl.name %></td>
                <td><%= pluralize(pl.worm_score, 'worm')%></td>
                <td><%= player_dominos(pl) %></td>
            </tr>
        <% end %>
    </table>
</p>

<p>
    Dominos available:
    <%= @game.dominos.map{ |d| "[#{d.value} | #{d.nb_worms}]" }.join(', ') %>
</p>

<h2>Turn #<%= @current_turn.index %></h2>

<%= show_picked_dice %>
<%= show_roll_outcome %>
<%= show_actions %>

<%= link_to 'Quit', root_path %>
