<h1>Here comes a new challenger!</h1>

<%= form_for :player, url: players_path do |f| %>
    <%= render partial: 'error' %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :color %>
    <%= f.color_field :color, value: '' %><br>

    <%= f.submit 'Create player' %>
<% end %>

<%= link_to 'Back to Pickomino', root_path %>
